.flex-img {
  height: 300px;
  width: 300px;
  margin-left: 51px;
}

.flex-box {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  display: -webkit-flex;
  display: inline-flex;
  align-content: flex-start;
  margin-left: 100px;
  margin-bottom: 35px;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 400px;
  height: auto;
  align-self: flex-start;

}

.username {
  font-size: 32px;
  font-weight: bold;
}

.userdesc {
  font-size: 16px;
}


#userlist {
  margin-top: 50px;
}
