.flex-img {
  height: 300px;
  width: 300px;
  margin-left: 51px;
  margin-top: 15px;
}
.flex-box {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  display: -webkit-flex;
  display: inline-flex;
  align-content: flex-start;
  margin-left: 100px;
  margin-bottom: 35px;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 400px;
  height: auto;
  align-self: flex-start;
}
.username {
  font-size: 32px;
  font-weight: bold;
}
.userdesc {
  font-size: 16px;
}
#userlist {
  margin-top: 50px;
}
.flex-details {
  float: right;
  margin-right: 28px;
  margin-bottom: 10px;
  cursor: pointer;
}
.userskills {
  font-size: 32px;
}
.skills {
  font-size: 17px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.viewskillbtn{
   background: url("../images/btn_viewdetails.png") no-repeat 0 0;
   height: 33px;
   width: 123px;
   }

.viewskillbtn input[type="button"]{
   opacity: 0;
   height: 33px;
   width: 123px;
 }
