<div class="formFlex" ng-controller="EditProfileController">
    <h2 class="formTitle">Edit Profile</h2>
    <form class="form-signin" name="regForm">
      <label>Upload Profile Picture With Gravatar</label><br /><br />
      <label>Gravatar Email:</label><br />
      <input type="email" name="gravEmail" class="form-control" ng-model="user.gravEmail"></input><br />
      <button ng-click="gravUpload()" ng-model="user.img">Upload</button>
      <br /><br />
      <label>Title</label>
      <select name="title" id="selectpicker" class="form-control" ng-model="user.title">
          <option ng-repeat="title in titles">{{title}}</option>
      </select>
      <br />
      <label>First Name</label>
      <input type="text" name="nameFirst" class="form-control" ng-model="user.nameFirst">
      <br />
      <label>Last Name</label>
      <input type="text" name="nameLast" class="form-control" ng-model="user.nameLast">
      <br />
      <label>Twitter Username</label>
      <input type="text" name="twitter" class="form-control" ng-model="user.twitter">
      <br />
      <label>Skills</label>
      <br />
      <label>Current Skills:</label>
      <br /> <br />
      <div ng-repeat="skill in user.skills">
      <select name="skill[]" id="skillpicker" class="form-control" ng-model="user.skills[$index]">
          <option >{{skill}}</option>
      </select>
        <br />
      <button class="removeSkill" ng-click="removeItem(user.skills, $index)">Delete Skill</button>
      <br />   <br />
    </div>
    <label>New Skills:</label>
      <br />
      <button ng-click="increment(count)">Add Skill</button><br /><br />
      <div ng-repeat="i in count">
      <select name="skill[]" id="skillpicker" class="form-control" ng-model="user.newskills[$index]">
          <option ng-repeat="skill in skills">{{skill}}</option>
      </select>
        <br />
      <button class="removeSkill" ng-click="removeItem(count, $index)">Delete Skill</button>
      <br />   <br />
    </div>
      <br />
      <label>New Custom Skills:</label>
            <br />
            <button ng-click="increment(countCust)">Add Custom Skill</button><br /><br />
            <div ng-repeat="i in countCust">
              <input type="text" name="nameLast" class="form-control" ng-model="user.custSkill[$index]">
              <br />
            <button class="removeSkill" ng-click="removeItem(countCust, $index)">Delete Skill</button>
            <br />   <br />
          </div>
            <br />
      <label>Description</label>
      <textarea name="desc" class="form-control" ng-model="user.desc"></textarea>
<br />
<button type="button" ng-disabled="!user.title || !user.nameFirst || !user.nameLast || !user.desc" ng-click="update()" class="btn btn-lg btn-primary btn-block">Update Profile</button>
</form>
</div>
