<header class="bs-header text-center" id="overview">


  <img class="bs-header" src="./images/MeetNewPeople-e1441064924741.jpg"></img>
</header>

<div id="userlist" ng-controller="GetAllUsers as list">
  <div class="flex-box" ng-repeat="user in list.info" >

    <div><img class="flex-img" ng-src="{{user.img}}"></img>
    </div>

    <div id="username">

      <p align="center" class="username">{{user.nameFirst}} {{user.nameLast}}</p>
    </div>
    <div id="userdesc">
      <p align="center" class="userdesc">{{user.desc}}</p>
    </div>
    <div class="viewskillbtn">

        <button class="viewskillbtn" ng-click="list.toggleSkillsVisible(user)" />
    </div>
    <br />
    <div ng-hide="user.skillsVisible" id="userskills" ng-animate="'animate'">
      <ul class="userskills">Skills:</ul>
      <li class="skills" ng-repeat="skill in user.skills">{{skill.name}}</li>
      <ul class="userskills">Tweets:</ul>
      <li class="skills" ng-repeat="tweet in user.tweets">{{tweet}}</li>

    </div>


  </div>

</div>
