<ng-include src="'/templates/sidebar.html'"></ng-include>
<div id="userlist" ng-controller="GetUser as list">
  <div class="profile-box" ng-repeat="user in list.info">

    <div><img class="flex-img" ng-src="{{user.img}}"></img>
    </div>

    <div id="username">

      <p align="center" class="username">{{user.nameFirst}} {{user.nameLast}}</p>
    </div>
    <div id="userdesc">
      <p align="center" class="userdesc">{{user.desc}}</p>
    </div>
    <div class="viewskillbtn">

      <button class="viewskillbtn" ng-click="list.toggleSkillsVisible(user)" />
    </div>
    <br />
    <div ng-hide="user.skillsVisible" id="userskills" ng-animate="'animate'">
      <ul class="userskills">Skills:</ul>
      <li class="skills" ng-repeat="skill in user.skills">{{skill.name}}</li>
    </div>

  </div>

</div>
